.loginright-container {
    background-color: #4880FF;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-card {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 24px 36px;
    border-radius: 20px;
    max-width: 480px;
    width: 100%;
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    text-align: center;
}

.login-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.login-header p {
    color: rgb(80, 79, 79);
    font-size: 14px;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    width: 100%;
}

.login-inputs div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 100%;
}

.login-inputs input,
textarea {
    width: 100%;
    border-radius: 10px;
    padding: 11px 36px 11px 12px;
    border: 1px solid #cccaca;
    color: rgb(80, 79, 79);
    font-size: 15px;
    background-color: #d8dbdd8a;
    box-sizing: border-box;
}

.password-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 16px;
}

.eye-icon:hover {
    color: #333;
}

.login-inputs input:focus {
    outline: none;
}

.login-inputs label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(80, 79, 79);
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    gap: 24px;
    width: 100%;
}

.login-button {
    width: 100%;
}

.login-button button {
    width: 100%;
    padding: 12px 0;
    font-size: 1rem;
    background-color: #4880FF;
    color: white;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background .18s;
}

.login-button button:hover {
    background-color: #3254a4;
}

.footer p {
    color: rgb(80, 79, 79);
    font-size: 14px;
}

.link {
    color: #4880FF;
}

.link:hover {
    color: #3254a4;
}

.login-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
}

@media (max-width: 700px) {
    .loginright-container {
        width: 100vw;
        min-width: 100vw;
        padding: 0;
    }

    .login-card {
        width: 98vw;
        border-radius: 0;
        height: 100vh;
        padding: 2vh 6vw;
    }
}