.cgpa-container {
    width: 280px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff7c;
    color: #3629b7;
    gap: 14px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    font-size: 10px;
}

.cgpa-title {
    color: rgb(143, 143, 143);
    font-weight: 500;
    font-size: 15px;
}

.cgpa-value {
    font-weight: 600;
    font-size: 30px;
    color: black;
}

/* 🌙 Dark Mode Overrides */
.dark-mode.cgpa-container {
    background-color: #273142;
    color: #ffffff;
}

.dark-mode.cgpa-container .cgpa-title {
    color: #cccccc;
}

.dark-mode.cgpa-container .cgpa-value {
    color: #ffffff;
}
