.explore-title-container {
    margin-left: 220px;
    margin-top: 40px;

}

@media (max-width: 900px) {
    .explore-title-container {
        margin-left: 0;
        margin-top: 20px;
    }
}

.explore-title-title {
    text-align: center;
}

.explore-title-title span{
    color: #4880FF;
}

.explore-title-title p{
    color: #7e848c;
}