.uploadbutton {
    padding: 20px 5px;
    width: 300px;
    background-color: #2491fd;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.uploadbutton:hover {
    background-color: #2b6aae;
}

.uploadbutton-container {
    margin: 30px 15px 20px 24px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.modal-button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    color: white;
}

.modal-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* padding: 20px; */
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.modal-input label {
    font-size: 14px;
    color: #333;
    margin-bottom: 4px;
}

.modal-input input,
.modal-input select,
.modal-input textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s ease-in-out;
}

.modal-input input:focus,
.modal-input select:focus,
.modal-input textarea:focus {
    border-color: #007bff;
    outline: none;
}

.modal-input button {
    margin-top: 12px;
    padding: 10px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
}

.modal-input button:hover {
    background-color: #0056b3;
}

.uploadbutton-pdf {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    background-color: #2b6aae;
    color: white;
    text-align: center;
}

.uploadbutton-pdf input{
    display: none;
}

.buttons{
    display: flex;
    gap: 20px;
}