.register-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.register-card-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    gap: 5px;
    min-width: 300px;
    width: 100%;
    max-width: 500px;
}

.register-header {
    background: linear-gradient(to left, #d024fc, #6f11fc);
    width: 100%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 20px 20px 0 0;
    gap: 5px;
}

.register-header h1 {
    font-size: 40px;
}

.register-body {
    padding: 30px 35px;
    width: 100%;
    box-sizing: border-box;
}

.register-body-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.register-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-input div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 380px;
}

.register-input label {
    margin-bottom: 8px;
}

.register-input input {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    box-sizing: border-box;
}

select{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    box-sizing: border-box;
}

.register-button {
    width: 100% !important;
}

.register-button button {
    width: 100%;
    max-width: 380px;
    height: 50px;
    background-color: #6a06ff;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
