.signup-page {
    display: flex;
    min-height: 100dvh;
}

/* On mobile/tablet, stack vertically (though LoginLeft is hidden) */
@media (max-width: 900px) {
    .signup-page {
        flex-direction: column;
    }
}
