* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  /* transition: background-color 0.3s ease, color 0.3s ease; */
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

/* body {
  padding-right: 80px;
  
} */

/* Global custom scrollbar */
* {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #b1b1b1 #f1f1f1;
  /* Firefox */
}

/* WebKit-based browsers */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  /* creates padding effect */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #b1b1b1;
  /* darker shade on hover */
}

.skeleton-light {
    width: 100%;
    border-radius: 8px; /* Slightly softer corners for a modern look */
    background: linear-gradient(
        90deg,
        hsl(210, 15%, 85%) 0%,
        hsl(210, 15%, 95%) 50%,
        hsl(210, 15%, 85%) 100%
    ); /* Subtle gradient for shimmer effect */
    background-size: 200% 100%; /* Allows gradient to move for shimmer */
    animation: skeleton-loading 1.2s ease-in-out infinite; /* Smoother, slower animation */
    overflow: hidden;
}


.skeleton-dark {
    width: 100%;
    border-radius: 8px; /* Soft corners for modern look */
    background: linear-gradient(
        90deg,
        hsl(210, 10%, 20%) 0%,
        hsl(210, 10%, 30%) 50%,
        hsl(210, 10%, 20%) 100%
    ); /* Shimmer gradient for dark mode */
    background-size: 200% 100%; /* Enables gradient movement */
    animation: skeleton-loading 1.2s ease-in-out infinite; /* Smooth animation */
    overflow: hidden;
}



@keyframes skeleton-loading {
    0% {
        background-position: 100% 0; 
    }
    100% {
        background-position: -100% 0; 
    }
}