.userheader-container {
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
    gap: 30px;
    margin-bottom: 30px;
}

.userdetail-add-btn {
    margin-left: auto;
    display: none; /* Hidden on desktop by default */
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #4880FF;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s;
}

.userdetail-add-btn:hover {
    background-color: #2563eb;
}

/* .userdetail-add-btn.dark {
} */

@media (max-width: 900px) {
    .userheader-container {
        margin-left: 0;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: flex-start;
    }

    .userdetail-add-btn {
        display: flex;
    }
}

.back-icon:hover{
    cursor: pointer;
}