.userheader-container {
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35px;
    gap: 30px;
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    .userheader-container {
        margin-left: 0;
        margin-top: 20px;
        padding-left: 20px;
    }
}

.back-icon:hover{
    cursor: pointer;
}